@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import 'reset.scss';
@import 'vars.scss';
@import 'grid.scss';
@import 'orders.scss';

body {
    @include font($font-normal, 1, 400);

    font-family: 'Roboto', sans-serif;
    color: rgb(20, 20, 20);
}

body * {
    box-sizing: border-box;
}

.sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
}